force-app/main/default/flows/AI_WarehouseTransferFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Json_To_Readable_Format</name>
        <label>Json To Readable Format</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>AI_TransferJsonParser</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assign_Communication_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:transferJsonOutput</name>
            <value>
                <elementReference>transferResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AI_TransferJsonParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Recipient_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>notificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Warehouse_Item_Transfer</name>
        <label>Warehouse Item Transfer</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>AI_WarehouseTransfer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Transfer_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationWarehouseName</name>
            <value>
                <elementReference>destinationWarehouseName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originWarehouseName</name>
            <value>
                <elementReference>originWarehouseName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityTransfer</name>
            <value>
                <elementReference>quantityTransfer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AI_WarehouseTransfer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Communication_Body</name>
        <label>Assign Communication Body</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Json_To_Readable_Format.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients</name>
        <label>Assign Recipients</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recipient_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Json_To_Readable_Format</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Transfer_Response</name>
        <label>Store Transfer Response</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>transferResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warehouse_Item_Transfer.transferStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Transfer_Successful</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Transfer_Successful</name>
        <label>Is Transfer Successful</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transferResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Success - Transfer Initiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_ID</targetReference>
            </connector>
            <label>Transfer Successful</label>
        </rules>
    </decisions>
    <description>Flow designed to transfer an item quantity from one warehouse to another and notify in case of a success</description>
    <environments>Default</environments>
    <interviewLabel>AI_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Warehouse Transfer Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_ID</name>
        <label>Get Custom Notification ID</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer_Initiated_Notif</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_ID</name>
        <label>Get Recipient ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Antoine</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Warehouse_Item_Transfer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Transfer Initiated</text>
    </textTemplates>
    <variables>
        <name>antoineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>destinationWarehouseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>aissaly@salesforce.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String with the name of the origin warehouse to interrogate</description>
        <name>originWarehouseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Integer of the quantity of item to be transferred from the origin warehouse to the destination warehouse</description>
        <name>quantityTransfer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String with the json response</description>
        <name>transferResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
